
body {
    background-color: rgb(224, 219, 219);
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1
{
    text-transform: uppercase;
}

img {
    border-radius: 15px;
    margin-bottom: 20px;
}